---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="About me"
	pubDate={new Date("March 01 2026")}
	heroImage={AboutHeroImage}
>
	<p>
		I'm Aayush Khanna, a passionate developer and sports enthusiast. Here, I
		write about my ideas, experiences, and explorations - from deep tech to
		life beyond code.
	</p>

	<p>
		I'm really fascinated by low-level programming and I find it satisfying
		to dive deep across the layers in the stack and understand how things
		work under the hood. I hope someday I can make a living out of this
		passion :)
	</p>

	<p>
		I'm also really into football, boxing and mixed martial arts. I train
		whenever I can and I am a huge Manchester United fan.
	</p>

	<p>
		Currently, I'm diving deeper into operating systems, algorithms, and
		databases and trying to understand the world a little better each day.
		One day, I hope to contribute to the Linux kernel.
	</p>
</Layout>
